<h1> Users followed by <%= "@#{@user.username}" %> </h1>
<p>Do you want to follow someone else? <%= link_to "Follow another user", follow_username_form_path %></p>

<table class="table table-condensed">
    <thead>
        <tr> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%= render partial: 'followings/follow', collection: @users, as: :user %>
    </tbody>
</table>

<%= paginate @users %>